
.flex-container {
  padding: 0;
  margin: 0;
  height: 100vw;
  list-style: none;
  background: rgb(11, 37, 22);

}

  .flex-item {
  background: rgb(255, 255, 255);
  width: 400px;
  height: 300px;
  color: white;
  font-weight: bold;
  font-size: 3em;
}
.h1{
  display: flex!important;
  margin: 0px!important;
 

}

.App {
  text-align: center;
  background: rgb(255, 255, 255);

}
.container {
  display: flex;
  align-items: baseline; 
}


.App-header {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: white;
}

.App-intro {
  display: flex;
  align-items: flex-end; 
  flex-flow: row;
  border-bottom: 50px solid #73AD21;
  font-size: 4em;
  color: rgb(255, 255, 255);
  width: 100vw;

}

.profPic {
  background-image: unset;
  max-width: auto;
  max-height: auto;


}

.App-title{
  flex:  1 1 200px;
  font-size: 1.5em;
  color:#73AD21;
  text-align: left;
  position: relative;
  float: right;
  
  
  

}
