

.h1{
  display: flex!important;
  margin: 0px!important;
 

}

.App {
  text-align: center;
  background: rgb(255, 255, 255);

}
.container {
  display: flex;
  align-items: baseline; 
}


.App-header {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: white;
}

.App-intro {
  display: flex;
  align-items: flex-end; 
  flex-flow: row;
  border-bottom: 50px solid #73AD21;
  font-size: 4em;
  color: rgb(255, 255, 255);
  width: 100vw;

}

.profPic {
  background-image: unset;
  max-width: 20vw;
  max-height: auto;


}

.App-title{
  flex:  1 1 200px;
  font-size: 1.5em;
  color:#73AD21;
  text-align: left;
  position: relative;
  float: right;
  }

  .navigationbar{
    border: 1px solid #73AD21;
    display: flex;
    flex-flow: row;
  }